@{
    ViewData["Title"] = "Página Inicial de Estudos";    // Define o valor do título que será injetado na tag <title> do Layout  (HTML)
}

<h1>Bem-vindo ao meu projeto de Rotas!</h1>
<p>Escolha uma das páginas abaixo para testar o roteamento:</p>

<ul>
    <li>
        <a href="/Home/Produtos">Ver Produtos (Rota: /Home/Produtos)</a>
    </li>
    <li>
        <a href="/fale-conosco">Ir para Contato (Rota: /fale-conosco)</a>
    </li>
</ul>