@{
    ViewData["Title"] = "Privacy Policy";   // Define o valor do título que será injetado na tag <title> do Layout (HTML)
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
