@{ 
    ViewData["Title"] = "Nossos Produtos";  // Define o valor do título que será injetado na tag <title> do Layout (HTML)
    }

<h1>Página de Produtos</h1>
<p>Aqui você verá a lista de itens da loja.</p>
<a href="/">Voltar para Home</a>