@model Pessoa

<h2>Editar Registro</h2>

<form asp-action="ConfirmarEdicao" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Nome Atual:</label>
        <input asp-for="Nome" />     <!--Envia para classe Pessoa.cs chave Nome-->
    </div>

    <div>
        <label>Idade Atual:</label>
        <input asp-for="Idade" />   <!--Envia para classe Pessoa.cs chave Idade-->
    </div>

    <button type="submit">Salvar no Banco</button>
    <a asp-action="Index">Cancelar</a>
</form>